:root {
  --dark: #222222;
  --light: #EFEFEF;
  --midnight-blue: #00275E;
  --light-blue: #6D98AB;
  --gray: #A8B1B8;
  --orange: #FEB729;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  color: var(--light);
  background: var(--dark);
  font-family: 'KoHo', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main>section {
  padding: 30px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

/* header */
.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/avatar16x9.png') no-repeat center,
    -o-linear-gradient(var(--light-blue) 20%, var(--dark) 95%);
  background: url('images/avatar16x9.png') no-repeat center,
    -webkit-linear-gradient(var(--light-blue) 20%, var(--dark) 95%);
  background: url('images/avatar16x9.png') no-repeat center,
    linear-gradient(var(--light-blue) 20%, var(--dark) 95%);
  background-size: cover;
}

.content-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.nav-bar-mobile {
  display: none;
}

.nav-bar li {
  margin: 20px;
  padding: 20px;
}

.nav-bar li a {
  text-transform: uppercase;
  font-size: 1.3em;
}

.greeting {
  margin: 15% auto;
  color: var(--light);
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  transition: background-color 1s ease-in-out 1s,
    color 2s cubic-bezier(.2, 1, 0.6, 1) 1s;
}

.greeting:hover {
  color: var(--dark);
  background-color: rgba(250, 180, 40, 0.7);
  transition: background-color 0.3s ease-in-out,
    color 0.5s cubic-bezier(.2, 1, 0.5, -.5);
}

.greeting-name {
  font-size: 4rem;
  font-weight: bold;
}

.greeting-resume {
  text-decoration: overline;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 5px;
}

/* main - featured */
.featured {
  color: var(--midnight-blue);
  background-color: var(--orange);
}

h1.title {
  margin: 10px;
  text-align: center;
}

.cartalog {
  display: flex;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}

.cartalog li {
  margin: 10px;
  font-weight: bold;
}

.cartalog li:hover {
  color: var(--light);
}

.projects {
  display: flex;
  align-items: center;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  width: 300px;
  min-height: 200px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background: var(--light-blue);
  text-align: center;
  overflow: hidden;

}

.project-img {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  margin: auto 10px;
}

.type-label {
  display: block;
  position: absolute;
  top: -100px;
  right: -200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 5px;
  width: 200px;
  background-color: var(--midnight-blue);
  color: var(--light);
  transition: all 1s ease-out 0.1s;
}

.project:hover .type-label {
  top: 0;
  right: 0;
  transform: rotate(45deg) translate(25%, -25%);
}

.project > a {
  display: block;
  width: 100%;
  color: var(--light);
  font-weight: bold;
  padding: 10px;
}

.project > a:hover {
  color: var(--orange);
}
/* main - about */
.about>.info {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.info>.about-me,
.info>.info-me {
  min-width: 350px;
  max-width: 45%;
  margin: 10px;
  padding: 40px;
  border: 5px solid var(--light-blue);
  border-radius: 5px 100px 30px;
}

.about-me p {
  margin: 1em 0;
  text-indent: 2ch;
}

.info-basic {
  margin: 20px 0;
}

.info-basic i {
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: center;
}

.skills {
  display: flex;
  max-width: 80%;
  padding-left: 40px;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* skills bar */
.skills>div {
  margin-bottom: 10px;
}

.img-icon {
  width: 1rem;
  height: 1rem;
}

.bar {
  width: 2px;
}

.skills-over .bar {
  max-width: 100%;
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    background-color: var(--gray);
  }
}

.skill {
  color: var(--dark);
  background-color: var(--orange);
  text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
}

h3.title {
  margin-bottom: 10px;
}

.avatar img {
  width: 50%;
  border: 5px solid var(--light-blue);
  border-radius: 10px 50% 50%;
}

/* main - resume */
.resume {
  background-color: var(--light-blue);
}

.certificate {
  display: inline-block;
  width: 30%;
  margin: 10px;
  background-color: var(--orange);
}

.certificate img {
  width: 100%;
  height: auto;
}

/* footer */
footer {
  width: 100%;
  padding: 20px;
  background-color: var(--midnight-blue);
}

footer h3.title {
  color: var(--gray);
  text-align: center;
}

footer .links {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.links li {
  margin: 0 20px;
  font-weight: bold;
}

/* back to top buttom */
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  color: var(--light);
  opacity: 50%;
  border: 2px solid var(--light);
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
}

.back-to-top:hover {
  color: var(--light);
  opacity: 100%;
  box-shadow: 0px 1px 10px 2px var(--gray);
  font-size: 1.2rem;
}

.by-me {
  padding: 10px;
  color: gray;
  background-color: var(--midnight-blue);
  text-align: center;
}

@media only screen and (max-width : 800px) {
  header {
    width: 100%;
    max-height: 350px;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar-mobile {
    z-index: 30;
    display: block;
    position: fixed;
    width: 100%;
    min-height: 40px;
    border-bottom: 2px solid var(--gray);
    background-color: var(--light-blue);
  }

  #nav {
    display: none;
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 20px;
    background-color: var(--light-blue);
  }

  #nav li {
    margin: 10px auto;
    border-bottom: 1px solid var(--gray);
    font-weight: bold;
  }

  .nav-bar-mobile .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
  }

  .greeting {
    margin: 35% auto;
    font-size: 1.2rem;
  }

  .greeting-name {
    font-size: 1.5rem;
  }

  .greeting-resume {
    font-size: 0.5rem;
    line-height: 2rem;
  }

  .info>.about-me,
  .info>.info-me {
    max-width: 90%;
    padding: 20px;
    border: none;
  }

  .avatar img {
    border-radius: 5px;
  }
  .certificate {
    display: block;
    width: 90%;
  }
}
